In [ ]:
# Found this after getting error trying the above. https://saturncloud.io/blog/how-to-read-multiple-csv-files-into-python-pandas-dataframe/

In [1]:
# importing the required modules
import glob
import pandas as pd
from pathlib import Path

import warnings
warnings.filterwarnings('ignore')

In [2]:
# csv files in the path
csv_files = glob.glob("Resources/*.csv")

In [3]:
# create a new dataframe to store the merged files.
csv_merged = pd.DataFrame()
 
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    csv_merged = pd.concat([csv_merged, df])

C:\Users\angie\AppData\Local\Temp\ipykernel_35352\4015341437.py:5: DtypeWarning: Columns (16,28,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

In [4]:
csv_merged.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40,...,0.0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48,...,0.0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42,...,0.0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42,...,0.0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42,...,0.0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [7]:
# create new dataframe containing only the desired columns
csv_cleaned = csv_merged[['BEGIN_DAY', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'STATE', 'YEAR', 'MONTH_NAME', 'CZ_TYPE',
                        'CZ_NAME', 'CZ_TIMEZONE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
                        'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_LAT',
                        'BEGIN_LON', 'END_LAT', 'END_LON']]

csv_cleaned.head()

,BEGIN_DAY,BEGIN_TIME,END_DAY,END_TIME,STATE,YEAR,MONTH_NAME,CZ_TYPE,CZ_NAME,CZ_TIMEZONE,...,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,28,1445,28,1445,OKLAHOMA,1950,April,C,WASHITA,CST,...,0,250K,0,F3,3.4,400.0,35.12,-99.20,35.17,-99.20
1,29,1530,29,1530,TEXAS,1950,April,C,COMANCHE,CST,...,0,25K,0,F1,11.5,200.0,31.90,-98.60,31.73,-98.60
2,5,1800,5,1800,PENNSYLVANIA,1950,July,C,LEHIGH,CST,...,0,25K,0,F2,12.9,33.0,40.58,-75.70,40.65,-75.47
3,5,1830,5,1830,PENNSYLVANIA,1950,July,C,DAUPHIN,CST,...,0,2.5K,0,F2,0.0,13.0,40.60,-76.75,NaN,NaN
4,24,1440,24,1440,PENNSYLVANIA,1950,July,C,CRAWFORD,CST,...,0,2.5K,0,F0,0.0,33.0,41.63,-79.68,NaN,NaN

In [8]:
# check dataframe info
csv_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140714 entries, 0 to 64105
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BEGIN_DAY          140714 non-null  int64
 1   BEGIN_TIME         140714 non-null  int64
 2   END_DAY            140714 non-null  int64
 3   END_TIME           140714 non-null  int64
 4   STATE              140714 non-null  object
 5   YEAR               140714 non-null  int64
 6   MONTH_NAME         140714 non-null  object
 7   CZ_TYPE            140714 non-null  object
 8   CZ_NAME            140712 non-null  object
 9   CZ_TIMEZONE        140714 non-null  object
 10  INJURIES_DIRECT    140714 non-null  int64
 11  INJURIES_INDIRECT  140714 non-null  int64
 12  DEATHS_DIRECT      140714 non-null  int64
 13  DEATHS_INDIRECT    140714 non-null  int64
 14  DAMAGE_PROPERTY    120572 non-null  object
 15  DAMAGE_CROPS       107810 non-null  object
 16  TOR_F_SCALE        138061 non-null  object
 17  TOR_LENGTH         140658 non-null  float64
 18  TOR_WIDTH          140658 non-null  float64
 19  BEGIN_LAT          138316 non-null  float64
 20  BEGIN_LON          138312 non-null  float64
 21  END_LAT            96942 non-null   float64
 22  END_LON            96938 non-null   float64
dtypes: float64(6), int64(9), object(8)
memory usage: 25.8+ MB

In [9]:
# remove rows that have blank values in essential columns
csv_cleaned.dropna(subset=['BEGIN_DAY', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'STATE', 'YEAR', 'MONTH_NAME', 'CZ_TYPE',
                        'CZ_NAME', 'CZ_TIMEZONE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_LAT',
                        'BEGIN_LON'], inplace=True)

C:\Users\angie\AppData\Local\Temp\ipykernel_35352\1720460997.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_cleaned.dropna(subset=['BEGIN_DAY', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'STATE', 'YEAR', 'MONTH_NAME', 'CZ_TYPE',

In [10]:
# check dataframe info
csv_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135764 entries, 0 to 64105
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BEGIN_DAY          135764 non-null  int64
 1   BEGIN_TIME         135764 non-null  int64
 2   END_DAY            135764 non-null  int64
 3   END_TIME           135764 non-null  int64
 4   STATE              135764 non-null  object
 5   YEAR               135764 non-null  int64
 6   MONTH_NAME         135764 non-null  object
 7   CZ_TYPE            135764 non-null  object
 8   CZ_NAME            135764 non-null  object
 9   CZ_TIMEZONE        135764 non-null  object
 10  INJURIES_DIRECT    135764 non-null  int64
 11  INJURIES_INDIRECT  135764 non-null  int64
 12  DEATHS_DIRECT      135764 non-null  int64
 13  DEATHS_INDIRECT    135764 non-null  int64
 14  DAMAGE_PROPERTY    115790 non-null  object
 15  DAMAGE_CROPS       103162 non-null  object
 16  TOR_F_SCALE        135764 non-null  object
 17  TOR_LENGTH         135764 non-null  float64
 18  TOR_WIDTH          135764 non-null  float64
 19  BEGIN_LAT          135764 non-null  float64
 20  BEGIN_LON          135764 non-null  float64
 21  END_LAT            96653 non-null   float64
 22  END_LON            96653 non-null   float64
dtypes: float64(6), int64(9), object(8)
memory usage: 24.9+ MB

In [11]:
csv_cleaned.head()

,BEGIN_DAY,BEGIN_TIME,END_DAY,END_TIME,STATE,YEAR,MONTH_NAME,CZ_TYPE,CZ_NAME,CZ_TIMEZONE,...,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,28,1445,28,1445,OKLAHOMA,1950,April,C,WASHITA,CST,...,0,250K,0,F3,3.4,400.0,35.12,-99.20,35.17,-99.20
1,29,1530,29,1530,TEXAS,1950,April,C,COMANCHE,CST,...,0,25K,0,F1,11.5,200.0,31.90,-98.60,31.73,-98.60
2,5,1800,5,1800,PENNSYLVANIA,1950,July,C,LEHIGH,CST,...,0,25K,0,F2,12.9,33.0,40.58,-75.70,40.65,-75.47
3,5,1830,5,1830,PENNSYLVANIA,1950,July,C,DAUPHIN,CST,...,0,2.5K,0,F2,0.0,13.0,40.60,-76.75,NaN,NaN
4,24,1440,24,1440,PENNSYLVANIA,1950,July,C,CRAWFORD,CST,...,0,2.5K,0,F0,0.0,33.0,41.63,-79.68,NaN,NaN

In [13]:
# exports the dataframe into csv file with specified name.
filepath = Path('Resources/merged_tornado_data.csv')
csv_cleaned.to_csv(filepath, index=False)