In [1]:
# Found this after getting error trying the above. https://saturncloud.io/blog/how-to-read-multiple-csv-files-into-python-pandas-dataframe/

In [2]:
# importing the required modules
import glob
import pandas as pd
from pathlib import Path

import warnings
warnings.filterwarnings('ignore')

In [3]:
# csv files in the path
csv_files = glob.glob("Resources/*.csv")

In [4]:
# create a new dataframe to store the merged files.
csv_merged = pd.DataFrame()
 
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    csv_merged = pd.concat([csv_merged, df])

In [5]:
csv_merged.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE,LAT,LON
0,195004.0,28,1445,195004.0,28,1445,NaN,10096222.0,OKLAHOMA,40.0,...,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB,NaN,NaN
1,195004.0,29,1530,195004.0,29,1530,NaN,10120412.0,TEXAS,48.0,...,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB,NaN,NaN
2,195007.0,5,1800,195007.0,5,1800,NaN,10104927.0,PENNSYLVANIA,42.0,...,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB,NaN,NaN
3,195007.0,5,1830,195007.0,5,1830,NaN,10104928.0,PENNSYLVANIA,42.0,...,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB,NaN,NaN
4,195007.0,24,1440,195007.0,24,1440,NaN,10104929.0,PENNSYLVANIA,42.0,...,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB,NaN,NaN

In [6]:
# create new dataframe containing only the desired columns
new_csv = csv_merged[['BEGIN_DAY', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'STATE', 'YEAR', 'MONTH_NAME', 'CZ_TYPE',
                        'CZ_NAME', 'CZ_TIMEZONE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
                        'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_LAT',
                        'BEGIN_LON', 'END_LAT', 'END_LON']]

new_csv.head()

,BEGIN_DAY,BEGIN_TIME,END_DAY,END_TIME,STATE,YEAR,MONTH_NAME,CZ_TYPE,CZ_NAME,CZ_TIMEZONE,...,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,28,1445,28,1445,OKLAHOMA,1950,April,C,WASHITA,CST,...,0,250K,0,F3,3.4,400.0,35.12,-99.20,35.17,-99.20
1,29,1530,29,1530,TEXAS,1950,April,C,COMANCHE,CST,...,0,25K,0,F1,11.5,200.0,31.90,-98.60,31.73,-98.60
2,5,1800,5,1800,PENNSYLVANIA,1950,July,C,LEHIGH,CST,...,0,25K,0,F2,12.9,33.0,40.58,-75.70,40.65,-75.47
3,5,1830,5,1830,PENNSYLVANIA,1950,July,C,DAUPHIN,CST,...,0,2.5K,0,F2,0.0,13.0,40.60,-76.75,NaN,NaN
4,24,1440,24,1440,PENNSYLVANIA,1950,July,C,CRAWFORD,CST,...,0,2.5K,0,F0,0.0,33.0,41.63,-79.68,NaN,NaN

In [7]:
# check dataframe info
new_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223586 entries, 0 to 146977
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   BEGIN_DAY          223586 non-null  int64
 1   BEGIN_TIME         223586 non-null  int64
 2   END_DAY            223586 non-null  int64
 3   END_TIME           223586 non-null  int64
 4   STATE              223586 non-null  object
 5   YEAR               223586 non-null  int64
 6   MONTH_NAME         223586 non-null  object
 7   CZ_TYPE            223586 non-null  object
 8   CZ_NAME            223585 non-null  object
 9   CZ_TIMEZONE        223586 non-null  object
 10  INJURIES_DIRECT    223586 non-null  int64
 11  INJURIES_INDIRECT  223586 non-null  int64
 12  DEATHS_DIRECT      223586 non-null  int64
 13  DEATHS_INDIRECT    223586 non-null  int64
 14  DAMAGE_PROPERTY    193541 non-null  object
 15  DAMAGE_CROPS       174532 non-null  object
 16  TOR_F_SCALE        188848 non-null  object
 17  TOR_LENGTH         223558 non-null  float64
 18  TOR_WIDTH          223558 non-null  float64
 19  BEGIN_LAT          75408 non-null   float64
 20  BEGIN_LON          75406 non-null   float64
 21  END_LAT            151557 non-null  float64
 22  END_LON            151555 non-null  float64
dtypes: float64(6), int64(9), object(8)
memory usage: 40.9+ MB

In [10]:
# remove rows that have blank values in essential columns
new_csv.dropna(subset=['BEGIN_DAY', 'BEGIN_TIME', 'END_DAY', 'END_TIME', 'STATE', 'YEAR', 'MONTH_NAME', 'CZ_TYPE',
                        'CZ_NAME', 'CZ_TIMEZONE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_LAT',
                        'BEGIN_LON'], inplace=True)

In [11]:
new_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73489 entries, 0 to 48
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BEGIN_DAY          73489 non-null  int64
 1   BEGIN_TIME         73489 non-null  int64
 2   END_DAY            73489 non-null  int64
 3   END_TIME           73489 non-null  int64
 4   STATE              73489 non-null  object
 5   YEAR               73489 non-null  int64
 6   MONTH_NAME         73489 non-null  object
 7   CZ_TYPE            73489 non-null  object
 8   CZ_NAME            73489 non-null  object
 9   CZ_TIMEZONE        73489 non-null  object
 10  INJURIES_DIRECT    73489 non-null  int64
 11  INJURIES_INDIRECT  73489 non-null  int64
 12  DEATHS_DIRECT      73489 non-null  int64
 13  DEATHS_INDIRECT    73489 non-null  int64
 14  DAMAGE_PROPERTY    63502 non-null  object
 15  DAMAGE_CROPS       57188 non-null  object
 16  TOR_F_SCALE        73489 non-null  object
 17  TOR_LENGTH         73489 non-null  float64
 18  TOR_WIDTH          73489 non-null  float64
 19  BEGIN_LAT          73489 non-null  float64
 20  BEGIN_LON          73489 non-null  float64
 21  END_LAT            50453 non-null  float64
 22  END_LON            50453 non-null  float64
dtypes: float64(6), int64(9), object(8)
memory usage: 13.5+ MB

In [12]:
# remove unnecessary characters from TOR_F_SCALE column
new_csv['TOR_F_SCALE'] = new_csv['TOR_F_SCALE'].str.replace('EF','')
new_csv['TOR_F_SCALE'] = new_csv['TOR_F_SCALE'].str.replace('F','')

In [13]:
new_csv.head(10)

,BEGIN_DAY,BEGIN_TIME,END_DAY,END_TIME,STATE,YEAR,MONTH_NAME,CZ_TYPE,CZ_NAME,CZ_TIMEZONE,...,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,28,1445,28,1445,OKLAHOMA,1950,April,C,WASHITA,CST,...,0,250K,0,3,3.4,400.0,35.12,-99.20,35.17,-99.20
1,29,1530,29,1530,TEXAS,1950,April,C,COMANCHE,CST,...,0,25K,0,1,11.5,200.0,31.90,-98.60,31.73,-98.60
2,5,1800,5,1800,PENNSYLVANIA,1950,July,C,LEHIGH,CST,...,0,25K,0,2,12.9,33.0,40.58,-75.70,40.65,-75.47
3,5,1830,5,1830,PENNSYLVANIA,1950,July,C,DAUPHIN,CST,...,0,2.5K,0,2,0.0,13.0,40.60,-76.75,NaN,NaN
4,24,1440,24,1440,PENNSYLVANIA,1950,July,C,CRAWFORD,CST,...,0,2.5K,0,0,0.0,33.0,41.63,-79.68,NaN,NaN
5,29,1600,29,1600,PENNSYLVANIA,1950,August,C,BUCKS,CST,...,0,2.5K,0,1,1.0,33.0,40.22,-75.00,NaN,NaN
6,4,1700,4,1700,PENNSYLVANIA,1950,November,C,LANCASTER,CST,...,0,250K,0,3,4.7,100.0,40.20,-76.12,40.27,-76.07
7,4,1730,4,1730,PENNSYLVANIA,1950,November,C,BERKS,CST,...,0,250K,0,3,11.2,100.0,40.27,-76.07,40.40,-75.93
8,15,1745,15,1745,OKLAHOMA,1950,September,C,HUGHES,CST,...,0,250K,0,2,6.8,100.0,35.00,-96.25,35.07,-96.17
9,16,130,16,130,OKLAHOMA,1950,September,C,PITTSBURG,CST,...,0,.25K,0,0,0.0,33.0,34.83,-95.85,NaN,NaN

In [14]:
# check dataframe info
new_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73489 entries, 0 to 48
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BEGIN_DAY          73489 non-null  int64
 1   BEGIN_TIME         73489 non-null  int64
 2   END_DAY            73489 non-null  int64
 3   END_TIME           73489 non-null  int64
 4   STATE              73489 non-null  object
 5   YEAR               73489 non-null  int64
 6   MONTH_NAME         73489 non-null  object
 7   CZ_TYPE            73489 non-null  object
 8   CZ_NAME            73489 non-null  object
 9   CZ_TIMEZONE        73489 non-null  object
 10  INJURIES_DIRECT    73489 non-null  int64
 11  INJURIES_INDIRECT  73489 non-null  int64
 12  DEATHS_DIRECT      73489 non-null  int64
 13  DEATHS_INDIRECT    73489 non-null  int64
 14  DAMAGE_PROPERTY    63502 non-null  object
 15  DAMAGE_CROPS       57188 non-null  object
 16  TOR_F_SCALE        73489 non-null  object
 17  TOR_LENGTH         73489 non-null  float64
 18  TOR_WIDTH          73489 non-null  float64
 19  BEGIN_LAT          73489 non-null  float64
 20  BEGIN_LON          73489 non-null  float64
 21  END_LAT            50453 non-null  float64
 22  END_LON            50453 non-null  float64
dtypes: float64(6), int64(9), object(8)
memory usage: 13.5+ MB

In [15]:
# changing BEGIN_LAT and BEGIN_LON to LAT and LON
new_csv = new_csv.rename(columns={'BEGIN_LAT':'LAT',
                           'BEGIN_LON':'LON'})

In [16]:
new_csv.head()

,BEGIN_DAY,BEGIN_TIME,END_DAY,END_TIME,STATE,YEAR,MONTH_NAME,CZ_TYPE,CZ_NAME,CZ_TIMEZONE,...,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,LAT,LON,END_LAT,END_LON
0,28,1445,28,1445,OKLAHOMA,1950,April,C,WASHITA,CST,...,0,250K,0,3,3.4,400.0,35.12,-99.20,35.17,-99.20
1,29,1530,29,1530,TEXAS,1950,April,C,COMANCHE,CST,...,0,25K,0,1,11.5,200.0,31.90,-98.60,31.73,-98.60
2,5,1800,5,1800,PENNSYLVANIA,1950,July,C,LEHIGH,CST,...,0,25K,0,2,12.9,33.0,40.58,-75.70,40.65,-75.47
3,5,1830,5,1830,PENNSYLVANIA,1950,July,C,DAUPHIN,CST,...,0,2.5K,0,2,0.0,13.0,40.60,-76.75,NaN,NaN
4,24,1440,24,1440,PENNSYLVANIA,1950,July,C,CRAWFORD,CST,...,0,2.5K,0,0,0.0,33.0,41.63,-79.68,NaN,NaN

In [17]:
# drop unknown EF and datapoints outside the contiguous US
new_csv = new_csv.drop(new_csv[new_csv['TOR_F_SCALE'] == 'U'].index)
new_csv = new_csv.drop(new_csv[new_csv['STATE'] == 'HAWAII'].index)
new_csv = new_csv.drop(new_csv[new_csv['STATE'] == 'PUERTO RICO'].index)
new_csv = new_csv.drop(new_csv[new_csv['STATE'] == 'ALASKA'].index)
new_csv = new_csv.drop(new_csv[new_csv['STATE'] == 'VIRGIN ISLANDS'].index)

# use the line below if we decide to drop the EF-0
#new_csv = new_csv.drop(new_csv[new_csv['TOR_F_SCALE'] == '0'].index)

In [18]:
new_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34249 entries, 2 to 48
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BEGIN_DAY          34249 non-null  int64
 1   BEGIN_TIME         34249 non-null  int64
 2   END_DAY            34249 non-null  int64
 3   END_TIME           34249 non-null  int64
 4   STATE              34249 non-null  object
 5   YEAR               34249 non-null  int64
 6   MONTH_NAME         34249 non-null  object
 7   CZ_TYPE            34249 non-null  object
 8   CZ_NAME            34249 non-null  object
 9   CZ_TIMEZONE        34249 non-null  object
 10  INJURIES_DIRECT    34249 non-null  int64
 11  INJURIES_INDIRECT  34249 non-null  int64
 12  DEATHS_DIRECT      34249 non-null  int64
 13  DEATHS_INDIRECT    34249 non-null  int64
 14  DAMAGE_PROPERTY    29556 non-null  object
 15  DAMAGE_CROPS       26601 non-null  object
 16  TOR_F_SCALE        34249 non-null  object
 17  TOR_LENGTH         34249 non-null  float64
 18  TOR_WIDTH          34249 non-null  float64
 19  LAT                34249 non-null  float64
 20  LON                34249 non-null  float64
 21  END_LAT            23818 non-null  float64
 22  END_LON            23818 non-null  float64
dtypes: float64(6), int64(9), object(8)
memory usage: 6.3+ MB

In [19]:
# exports the dataframe into csv file with specified name.
filepath = Path('Resources/merged_tornado_data.csv')
new_csv.to_csv(filepath, index=False)